<div class="basic-container" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="search-header" fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
    <mat-form-field appearance="outline">
      <mat-label>Simple Flight Search</mat-label>
      <input placeholder="Enter Flight Query" type="text" [formControl]="queryForm"
             (keyup.enter)="onSearchFlight($event)" matInput>
      <button mat-button *ngIf="queryForm" matSuffix mat-icon-button aria-label="Clear" (click)="clearForm($event)">
        <mat-icon>close</mat-icon>
      </button>
      <mat-hint>Flight Query Syntax: (Flight Number || (Origin && Destination)) && Date (YYYY-MM-DD)</mat-hint>
    </mat-form-field>
    <div>
      <button color="primary" mat-fab aria-label="Search for a flight" [disabled]="!queryForm.value"
              matTooltip="Search Flights"
              (click)="onSearchFlight($event)">
        <mat-icon>flight</mat-icon>
      </button>
    </div>
  </div>
  <div class="tab-container" fxLayout="column" fxLayoutAlign="start stretch">

    <div class="mat-elevation-z1">
      <table [dataSource]="dataSource" mat-table>

        <ng-container matColumnDef="flightNumber">
          <th *matHeaderCellDef mat-header-cell style="text-align: center">Flight Number</th>
          <td *matCellDef="let flight" class="center-cell" mat-cell> {{flight.flightNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="carrier">
          <th *matHeaderCellDef mat-header-cell style="text-align: center">Carrier</th>
          <td *matCellDef="let flight" mat-cell class="center-cell"> {{flight.carrier}} </td>
        </ng-container>
        <ng-container matColumnDef="origin">
          <th *matHeaderCellDef mat-header-cell style="text-align: center">Origin</th>
          <td *matCellDef="let flight" mat-cell class="center-cell"> {{flight.origin}} </td>
        </ng-container>
        <ng-container matColumnDef="destination">
          <th *matHeaderCellDef mat-header-cell style="text-align: center">Destination</th>
          <td *matCellDef="let flight" mat-cell class="center-cell"> {{flight.destination}} </td>
        </ng-container>
        <ng-container matColumnDef="arrival">
          <th *matHeaderCellDef mat-header-cell style="text-align: center">Arrival Time</th>
          <td *matCellDef="let flight" mat-cell class="center-cell"> {{formatDate(flight.arrival)}} </td>
        </ng-container>
        <ng-container matColumnDef="departure">
          <th *matHeaderCellDef mat-header-cell style="text-align: center">Departure Time</th>
          <td *matCellDef="let flight" mat-cell class="center-cell"> {{formatDate(flight.departure)}} </td>
        </ng-container>
        <ng-container matColumnDef="aircraft">
          <th *matHeaderCellDef mat-header-cell style="text-align: center">Aircraft</th>
          <td *matCellDef="let flight" mat-cell class="center-cell"> {{flight.aircraft}} </td>
        </ng-container>
        <ng-container matColumnDef="distance">
          <th *matHeaderCellDef mat-header-cell style="text-align: center">Distance</th>
          <td *matCellDef="let flight" mat-cell class="center-cell"> {{flight.distance}} </td>
        </ng-container>
        <ng-container matColumnDef="travelTime">
          <th *matHeaderCellDef mat-header-cell style="text-align: center">Travel Time</th>
          <td *matCellDef="let flight" mat-cell class="center-cell"> {{flight.travelTime}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th *matHeaderCellDef mat-header-cell style="text-align: center">Status</th>
          <td *matCellDef="let flight" mat-cell class="center-cell"> {{flight.status}} </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns;" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[15,30,45]"
        [pageSize]="15" showFirstLastButtons></mat-paginator>
    </div>
  </div>

</div>

